<!-- Titulo -->
<div class="container mt-4">
    <br><br><br>
    <h1 class="text-center">Carrito de compras</h1>
</div>

<!-- Contenido -->

<div class="container">
    <div class="row py-5">
        <div class="col-md-9" id="items">
            <div class="row py-3 mt-3">
                <div class="col-sm-3">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/100x100" alt=""></a>
                </div>
                <div class="col-sm-5">
                    <h5>Cerveza 1</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis repudiandae accusantium iure
                        delectus, amet pariatur aspernatur architecto dolores eum neque.</p>
                </div>
                <div class="col-sm-2">
                    <h5>Cantidad</h5>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h5>Precio</h5>
                    <h5>Bs.2000</h5>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-sm-3">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/100x100" alt=""></a>
                </div>
                <div class="col-sm-5">
                    <h5>Cerveza 1</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis repudiandae accusantium iure
                        delectus, amet pariatur aspernatur architecto dolores eum neque.</p>
                </div>
                <div class="col-sm-2">
                    <h5>Cantidad</h5>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h5>Precio</h5>
                    <h5>Bs.2000</h5>
                </div>
            </div>

            <div class="row py-3">
                <div class="col-sm-3">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/100x100" alt=""></a>
                </div>
                <div class="col-sm-5">
                    <h5>Cerveza 1</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis repudiandae accusantium iure
                        delectus, amet pariatur aspernatur architecto dolores eum neque.</p>
                </div>
                <div class="col-sm-2">
                    <h5>Cantidad</h5>
                    <div class="form-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <h5>Precio</h5>
                    <h5>Bs.2000</h5>
                </div>
            </div>
            <nav aria-label="...">
                <br>
                <br>
                <ul class="pagination pagination-sm " style="position: absolute;bottom: 0%;right: 45%;">
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            1
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-md-3" id="overview">

            <h5 class="text-center py-3 mt-4">Resumen carrito</h5>

            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum enim hic
                repellat necessitatibus vel modi! Sunt quia quos perspiciatis tempore fugit quasi culpa expedita
                officia! Voluptas temporibus quisquam architecto dignissimos.</p>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum enim hic
                repellat necessitatibus vel modi! Sunt quia quos perspiciatis tempore fugit quasi culpa expedita
                officia! Voluptas temporibus quisquam architecto dignissimos.</p>
            <hr>
            <h5>TOTAL= Bs.S 10000</h5>

            <div class="py-5">
                <button type="button" class="btn btn-primary btn-sm btn-block">Proceso de pago</button>
            </div>
        </div>
    </div>
</div>