
	<div class="container">

		<div>
			<div class="row text-left mt-5">
				<div class="col-5">
					<h2 id="Encabezado">Clientes Naturales</h2>
					<a href="#" class="btn btn-primary ml-2" data-toggle="modal" data-target="#userModal">Agregar</a>
				</div>
				<div class="col-7">
					<div class="float-right">
						<ul class="nav justify-content-center">
							<li class="nav-item">
								<a class="nav-link" href="#">Clientes Juridicos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="#">Clientes naturales</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Proveedores</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Cervezas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Empleados</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<hr id="HR">

			<!-- Bookmark form -->
			<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">Nuevo Cliente Natural</h4>
							<button type="button" class="close" data-dismiss="modal"><span
									aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

						</div>
						<div class="modal-body">

							<!--REVISAR AQUI LOS NG MODEL-->
							<form #registerForm = "ngForm" (ngSubmit) = "onSubmit(registerForm)">
								<p>Por favor, ingresa los datos solicitados.</p>
								<div class="form-group">
									<label for="rif">RIF</label>
									<input type="number" placeholder="Ingrese el RIF" name="rif" class="form-control" #rif = "ngModel" [(ngModel)] 
									= "cliente_natural.rif" required>
									<small *ngIf = "!rif.valid && rif.touched" class="invalid-feedback d-block">	
										El RIF no es valido	
									</small>
								</div>

								<!--REVISAR AQUI LOS NG MODEL-->
								<div class="form-group">
									<label for="cedula">Cedula</label>
									<input type="number" placeholder="Ingrese la cedula" name="cedula" class="form-control" #cedula = "ngModel" [(ngModel)] 
									= "cliente_natural.cedula" required>
									<small *ngIf = "!cedula.valid && cedula.touched" class="invalid-feedback d-block">	
										 La cedula no es valida	
									</small>
								</div>

								<div class="form-group">
									<label for="primer_nombre">Primer nombre</label>
									<input type="text" placeholder="Ingrese el primer nombre" name="primer_nombre" class="form-control" #primer_nombre = "ngModel" [(ngModel)] 
									= "cliente_natural.primer_nombre" required pattern="[a-zA-Z]+">
									<small *ngIf = "!primer_nombre.valid && primer_nombre.touched" class="invalid-feedback d-block">	
										El primer nombre no es valido	
									</small>
								</div>

								<div class="form-group">
									<label for="segundo_nombre">Segundo nombre</label>
									<input type="text" placeholder="Ingrese el segundo nombre" name="segundo_nombre" class="form-control" #segundo_nombre = "ngModel" [(ngModel)] 
									= "cliente_natural.segundo_nombre" required pattern="[a-zA-Z]+">
									<small *ngIf = "!segundo_nombre.valid && segundo_nombre.touched" class="invalid-feedback d-block">	
										El segundo nombre no es valido	
									</small>
								</div>

								<div class="form-group">
									<label for="primer_apellido">Primer apellido</label>
									<input type="text" placeholder="Ingrese el primer apellido" name="primer_apellido" class="form-control" #primer_apellido = "ngModel" [(ngModel)] 
									= "cliente_natural.primer_apellido" required pattern="[a-zA-Z]+">
									<small *ngIf = "!primer_apellido.valid && primer_apellido.touched" class="invalid-feedback d-block">	
										El primer apellido no es valido	
									</small>
								</div>

								<div class="form-group">
									<label for="segundo_apellido">Segundo apellido</label>
									<input type="text" placeholder="Ingrese el segundo apellido" name="segundo_apellido" class="form-control" #segundo_apellido = "ngModel" [(ngModel)] 
									= "cliente_natural.segundo_apellido" required pattern="[a-z A-Z]+">
									<small *ngIf = "!segundo_apellido.valid && segundo_apellido.touched" class="invalid-feedback d-block">	
										El segundo apellido no es valido	
									</small>
								</div>

								<div class="form-group">
									<label for="correo_electronico">Correo electronico</label>
									<input type="email" placeholder="Ingrese el correo" name="correo" class="form-control" #correo = "ngModel" [(ngModel)] 
									= "correo_electronico.correo" required pattern="[a-zA-Z]+[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
									<small *ngIf = "!correo.valid && correo.touched" class="invalid-feedback d-block">	
										El correo no es valido	
									</small>
								</div>

								<div class="form-group d-inline-block mr-4">
									<label for="clave_area">Clave telefono</label>
									<input type="number" placeholder="Ingrese el codigo de area" name="clave_area" class="form-control" #clave_area = "ngModel" [(ngModel)] 
									= "telefono.clave_area" required >
									<small *ngIf = "!clave_area.valid && clave_area.touched" class="invalid-feedback d-block">	
										La clave no es valida
									</small>
								</div>

								<div class="form-group d-inline-block">
									<label for="clave_area">Telefono</label>
									<input type="number" placeholder="Ingrese el numero de telefono" name="numero" class="form-control" #numero = "ngModel" [(ngModel)] 
									= "telefono.numero" required >
									<small *ngIf = "!numero.valid && numero.touched" class="invalid-feedback d-block">	
										El telefono no es valido
									</small>
								</div>

								<select #selectList (change)="optionSelected(selectList.value)">
									<option value="null" >Estado</option>
									<option *ngFor="let state of states" value="{{ state | json }}">{{state.nombre}}</option>
								</select>
								
								<select #selectList2 (change)="optionSelected2(selectList2.value)">
									<option value="null">Municipio</option>
									<option *ngFor="let muni of munis" value="{{ muni | json }}">{{muni.nombre}}</option>
								</select>

								<select  #selectList3 (change)="optionSelected3(selectList3.value)">
									<option value="null" >Parroquia</option>
									<option *ngFor="let parr of parrs" value="{{ parr | json }}">{{parr.nombre}}</option>
								</select>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
									<input type="submit" value="Guardar" class="btn btn-primary" [disabled]= "registerForm.invalid">
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>

			<div class="container" style="margin-bottom: 30px;">


				<table id="dataTable" #dataTable class="table table-bordered table-hover" style="background-color: #FDF4E3;">
					<thead class="thead" style="background-color: rgb(42, 41, 40); color: #FFFF;">
						<tr class="text-center">
							<th scope="col">Nombre </th>
							<th scope="col">Apellido</th>
							<th scope="col">Cedula</th>
							<th scope="col">Telefono</th>
							<th scope="col">Correo</th>
							<th scope="col">Acciones</th>
		
						</tr>
					</thead>
					<tbody class="tbody">
						<tr *ngFor="let beer of data" class="text-center">
							<th scope="row">{{beer.name}}</th>
							<td>{{beer.type}}</td>
							<td>{{beer.price}}</td>
							<td>
								<div class="row">
									<div align="center" class="col-sm-4">
										<form action="#" method="POST">
											<a  class="btn btn-primary text-white" (click)="openModal(beer)" style="cursor: pointer;"><i
													class="fas fa-pencil-alt"></i></a>
										</form>
		
									</div>
		
									<div align="center" class="col-sm-4">
										<form action="#" method="POST">
											<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
		
										</form>
									</div>
		
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.min.js"></script>


