<body>
    <br>
    <br>
    <div id="wrapper">


        <ul class="sidebar navbar-nav">
            <button (click)="action()" class="btn btn-link btn-sm text-white text-right py-2" id="sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>

            <a class="navbar-brand text-white text-center" href="#">
                <span>ACAVUCAB</span>
            </a>
            <li class="nav-item active text-center">
                <img src="../../../assets/img/ARTESANALES_opt.png" alt="">
            </li>

            <li class="nav-item pt-3">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span class="ml-2">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <div>
                    <div>
                        <a class="nav-link" href="#">
                            <i class="far fa-newspaper"></i>
                            <span class="ml-2">Diario de una cerveza</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item">

                <div *ngIf="(this.role == 'rol_clientej') || (this.role == 'rol_clienten')">
                    <a class="nav-link" [routerLink]="['quote']">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span class="ml-2">Presupuesto</span></a>
                </div>
            </li>
            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_clientej') || (this.role == 'rol_clienten')">
                    <a class="nav-link" [routerLink]="['all-products']">
                        <i class="fas fa-store"></i>
                        <span class="ml-2">Comprar</span></a>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_clientej') || (this.role == 'rol_clienten')">
                    <a class="nav-link" [routerLink]="['carnet', identity.id]">
                        <i class="fas fa-id-badge"></i>
                        <span class="ml-2">Mi Carnet</span></a>
                </div>
            </li>
            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_clientej') || (this.role == 'rol_clienten')">
                    <a class="nav-link" [routerLink]="['/']">
                        <i class="fas fa-shopping-bag"></i>
                        <span class="ml-2">Mis compras</span></a>
                </div>
            </li>


            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_cajera')">
                    <a class="nav-link" [routerLink]="['store']">
                        <i class="fas fa-cash-register"></i>
                        <span class="ml-2">Manejo de ventas</span></a>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_admin')">
                    <div>
                        <a class="nav-link" [routerLink]="['suppliers']">
                            <i class="fas fa-fw fa-folder"></i>
                            <span class="ml-2">Gestion de proveedores</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_proveedor') || (this.role == 'rol_admin')">
                    <div>
                        <a class="nav-link" [routerLink]="['beers']">
                            <i class="fas fa-fw fa-folder"></i>
                            <span class="ml-2">Gestion de cervezas</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_admin')">
                    <div>
                        <a class="nav-link" [routerLink]="['events']">
                            <i class="fas fa-fw fa-folder"></i>
                            <span class="ml-2">Gestion de eventos</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_admin')">
                    <div>
                        <a class="nav-link" [routerLink]="['user']">
                            <i class="fas fa-fw fa-folder"></i>
                            <span class="ml-2">Gestion de usuario</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_admin')">
                    <div>
                        <a class="nav-link" href="#">
                            <i class="fas fa-fw fa-folder"></i>
                            <span class="ml-2">Gestion de roles</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <div *ngIf="(this.role == 'rol_admin') || (this.role == 'rol_cajera')">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Gestion de clientes</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" [routerLink]="['n-customers']">clientes natural</a>
                        <a class="dropdown-item" [routerLink]="['j-customers']">clientes juridico</a>
                    </div>
                </div>
            </li>


            <li class="nav-item dropdown">
                <div *ngIf="(this.role == 'rol_admin')">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Reportes</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <a class="dropdown-item" href="#"> Reporte A</a>
                        <a class="dropdown-item" href="#"> Reporte B</a>
                        <a class="dropdown-item" href="#"> Reporte C</a>
                        <a class="dropdown-item" href="#"> Reporte D</a>
                        <a class="dropdown-item" href="#"> Reporte E</a>
                        <a class="dropdown-item" href="#"> Reporte F</a>
                        <a class="dropdown-item" href="#"> Reporte G</a>
                        <a class="dropdown-item" href="#"> Reporte H</a>
                        <a class="dropdown-item" href="#"> Reporte I</a>
                        <a class="dropdown-item" href="#"> Reporte J</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_clientej') || (this.role == 'rol_clienten')">
                    <div>
                        <a class="nav-link" href="#">
                            <i class="fab fa-fly"></i>
                            <span class="ml-2">Eventos</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_admin')">
                    <div>
                        <a class="nav-link" [routerLink]="['asistence']">
                            <i class="fas fa-file-word"></i>
                            <span class="ml-2">Archivo de asistencia</span></a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div *ngIf="(this.role == 'rol_proveedor')">
                    <div>
                        <a class="nav-link" href="#">
                            <i class="fas fa-folder-open"></i>
                            <span class="ml-2">Ordenes</span></a>
                    </div>
                </div>
            </li>



        </ul>

        <div id="content-wrapper">

            <div *ngIf="view_profile==0">
                <h1 class="text-center mt-5">BIENVENIDO</h1>


                <div id="carouselExampleIndicators" class="carousel slide py-5" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/img/slide1.jpg" class="d-block w-100" alt="..."
                                style="width: 500px; height: 300px;">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/img/slide2.jpg" class="d-block w-100" alt="..."
                                style="width: 500px; height: 300px;">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/img/slide3.jpg" class="d-block w-100" alt="..."
                                style="width: 500px; height: 300px;">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div *ngIf="view_profile==1">
                <h1 class="text-center mt-5">Perfil de usuario</h1>

                <profile></profile>
            </div>


        </div>


    </div>






</body>