<body>

    <!-- Titulo -->
    <div class="container mt-3 py-3">
        <br><br><br>
        <h1 class="text-center">Presupuesto</h1>
    </div>

    <!-- Contenido -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#269ECE;">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">

                    <!--REVISAR AQUI LOS NG MODEL-->
                    <form id="Form">
                        <p>Por favor, ingresa los datos solicitados.</p>
                        <div class="form-group">
                            <label for="name">Cantidad</label>
                            <div class="input-group">
                                <input id="qty" class="form-control" type="number" placeholder="Ingrese la cantidad">
                            </div>
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="close()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar" style="width: 10px;">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-9">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-6 mb-4"
                        *ngFor="let beer of beers | paginate: { itemsPerPage: 6, currentPage: p }">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#" class="ml-2 p-2">{{beer.nombre}} </a>
                                    <input id="check{{beer.id}}" type="checkbox" class="form-check-input ml-1 mt-2"
                                        (click)="checkClick(beer)" style="cursor: pointer;">
                                </h4>
                                <div class="row">
                                    <div class="col-sm-12 pl-3">
                                        <h5 style="margin-left: 15px;display: inline;">Bs. </h5>
                                        <h5 id="price" style="display: inline;">{{beer.precio_unitario}}</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <pagination-controls previousLabel="anterior" nextLabel="siguiente" (pageChange)="p = $event"
                    style="position: absolute;bottom: 0;right: 10%;"></pagination-controls>
            </div>

            <div class="col-md-3" style="background-color: white;">
                
                <h5 class="text-center py-3 mt-4">Resumen Presupuesto</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <p style="font-weight: bold;" class="text-justify">Nombre</p>
                    </div>
                    <div class="col-sm-4 pl-4">
                        <p style="font-weight: bold;" class="text-justify">Cant</p>
                    </div>
                    <div class="col-sm-4">
                        <p style="font-weight: bold;" class="text-justify">Precio</p>
                    </div>
                </div>
                <div class="row" *ngFor="let beer of jsonArray">
                    <div class="col-sm-4">
                        <p class="text-justify"> {{beer.nombre}}</p>
                    </div>
                    <div class="col-sm-4 pl-4">
                        <p class="text-justify"> {{beer.cantidad_cervezas}}</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="text-justify"> {{beer.precio}}</p>
                    </div>
                </div>
                




                <div class="py-5" style="position: absolute; bottom: 0; padding-left: 30px;">
                    <hr>
                    <h5>TOTAL= Bs.S {{total}}</h5>
                    <button type="button" class="btn btn-warning btn-sm btn-block w-100"
                        (click)="reserve()">Reservar</button>
                </div>
            </div>
        </div>
    </div>

</body>