<body>

    <br><br><br>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/400x300" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5" *ngIf="beer">
                <div class="modal fade" id="PagoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#269ECE;">
                                <h4 class="modal-title" id="myModalLabel">Elija el metodo de pago</h4>
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            </div>
                            <div class="modal-body">
                                <p>Por favor, ingresa los datos solicitados.</p>
                                <div class="form-group">
                                    <label for="name">Formas de pago: </label>

                                    <select class="ml-3" id="selectList3Type" #selectList3
                                        (change)="optionSelectedType(selectList3.value)" *ngIf="credit_cards">
                                        <option value="null">Formas de pago</option>
                                        <option value="Tarjeta de credito">Tarjeta de credito</option>
                                        <option value="Tarjeta de debito">Tarjeta de debito</option>
                                        <option *ngIf="rest>0" value="Mis puntos" disabled>Mis puntos</option>
                                        <option *ngIf="!rest" value="Mis puntos">Mis puntos</option>
                                    </select>

                                    <select *ngIf="credit_cards && optionT==1" class="ml-3" id="#selectList3"
                                        #selectList3 (change)="optionSelectedM(selectList3.value,beer)">
                                        <option value="null disabled">Tus tarjetas</option>
                                        <option *ngFor="let card of credit_cards" value="{{ card | json }}">
                                            {{card.num_tarjeta}}</option>
                                    </select>

                                    <select *ngIf="debit_cards && optionT==2" class="ml-3" id="#selectList3"
                                        #selectList3 (change)="optionSelectedM(selectList3.value,beer)">
                                        <option value="null">Tus tarjetas</option>
                                        <option *ngFor="let card of debit_cards" value="{{ card | json }}">
                                            {{card.num_tarjeta}}</option>
                                    </select>

                                    <label *ngIf="optionT==3" class="ml-1" for="disp">Disponible: <p
                                            style="display: inline;">{{myPoints}}</p></label>

                                    <label *ngIf="optionT==3 && myPoints!=0" for="ch" class="ml-1">Canjear: <input
                                            id="ch" min="0" max="{{myPoints}}" style="display: inline; width: 50px;"
                                            type="number"> xTasa:{{tas}}</label>

                                    <small class="my-2" *ngIf="!credit_cards && (optionT==1)"
                                        class="invalid-feedback d-block">No posee tarjetas. Registre una tarjeta en su
                                        perfil</small>
                                    <small class="my-2" *ngIf="!debit_cards && (optionT==2)"
                                        class="invalid-feedback d-block">No posee tarjetas. Registre una tarjeta en su
                                        perfil</small>
                                    <small class="my-2" *ngIf="myPoints==0 && (optionT==3)"
                                        class="invalid-feedback d-block">No posee puntos disponibles</small>

                                     <br>

                                    <div class="row ml-1">
                                        <label *ngIf="rest>0" for="rest">
                                            <p style="font-weight: bold; display: inline;">Restante por pagar:</p>
                                            {{rest}}
                                        </label>
                                    </div>
                                    <div class="row ml-1">
                                        <label style="font-weight: bold;" for="total">Total a pagar: Bs. </label>
                                        <label class="ml-2" id="price" for="name" style="display: inline;"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" (click)="sell(beer)">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="font-weight-light">{{beer.nombre}}</h1>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <h4>Bs.</h4>
                    </div>

                    <h4 class="mr-2">{{beer.precio_unitario}}</h4>

                </div>
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Cantidad:</label>
                    </div>
                    <select id="inputGroupSelect01">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>

                    </select>

                </div>

                <div class="row">
                    <div class="col-sm-2">
                        <label for="">Disponible:</label>
                    </div>
                    <div class="col-sm-1 ml-2">
                        <label for="">{{available}}</label>
                    </div>
                </div>



                <button class="btn-primary btn-block" (click)="openModal(beer)">Comprar</button>

                <button class="btn-success btn-block" (click)="cart(beer)">Agregar al carrito <i
                        class="fas fa-cart-plus"></i></button>

            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">This call to action card is a great place to showcase some important information
                or display a clever tagline!</p>
        </div>
    </div>
    <div class="container">


        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card One</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                            numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex
                            natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore
                            voluptates quos eligendi labore.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                            numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
    </div>
    <simple-notifications></simple-notifications>

</body>