<body>
  

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg fixed-top">
    <a href="#" class="navbar-brand">
      <img src="../assets/img/ARTESANALES_opt.png" width="50" height="50" class="d-inline-block align-top" alt="">
      <a class="navbar-brand text-white" href="#">
        <h5 class="ml-3 mt-2">ACAVUCAB</h5>
      </a>
    </a>

    <!-- Navbar -->
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a href="#" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Misión</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">¿Quiénes somos?</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link">Iniciar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <!--CONTENIDO-->
  <router-outlet></router-outlet>


<footer class="text-center text-white py-2 mt-3">
  <p> Copyright &copy; ACAVUCAB 2019-2020 <i class="fab fa-instagram ml-3"></i> <i class="fab fa-twitter ml-3"></i> <i
      class="fab fa-google ml-3"></i></p>
</footer>

</body>
