<body>
    <br><br><br>
    <div class="container" style="margin-bottom: 150px;">
        <div class="row" id="imagen">
            <img src="../../../assets/img/ARTESANALES.png" width="145" height="145">
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5 animated fadeInUp">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inicio de Sesión</h5>

                        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                            <div class="form-label-group">
                                <h6>Correo electronico</h6>
                                <div class=" form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-wrapping"><i
                                                class="fas fa-user"></i></span>
                                    </div>
                                    <input type="email" id="email" name="email" class="form-control" required autofocus
                                        #email="ngModel" [(ngModel)]="auth.correo"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="gabriel@gmail.com">
                                    <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                                        correo electronico
                                        no es valido</small>
                                    <label for="inputEmail"></label>
                                </div>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <h6>Contraseña</h6>
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-wrapping"><i
                                                class="fas fa-lock"></i></span>
                                    </div>
                                    <input type="password" id="password" name="password" class="form-control"
                                        #password="ngModel" [(ngModel)]="auth.contrasena" required
                                        style="border-radius: 0.3rem;" value="1234567890">
                                    <label for="inputPassword"></label>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">
                                Iniciar sesión
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>