<body>
    <br><br><br>
    <div class="container" style="margin-bottom: 150px;">
        <div class="row" id="imagen">
            <img src="../../../assets/img/ARTESANALES.png" width="145" height="145">
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5 animated fadeInUp">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inicio de Sesión</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <h6>Correo electronico</h6>
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-wrapping"><i
                                                class="fas fa-user"></i></span>
                                    </div>
                                    <input type="email" id="inputEmail" class="form-control" required autofocus
                                        style="border-radius: 0.3rem;">
                                    <label for="inputEmail"></label>
                                </div>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <h6>Contraseña</h6>
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-wrapping"><i
                                                class="fas fa-lock"></i></span>
                                    </div>
                                    <input type="password" id="inputPassword" class="form-control" required
                                        style="border-radius: 0.3rem;">
                                    <label for="inputPassword"></label>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-lg btn-warning btn-block text-uppercase" type="submit">
                                Iniciar sesión
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>