<br><br><br>

<body>
    <h1 class="py-5 text-center">Pedidos en despacho</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table #dataTable class="table table-bordered table-hover" style="background-color: #FDF4E3;">
                    <thead class="thead" style="background-color: rgb(42, 41, 40); color: #FFFF;">
                        <tr class="text-center">
                            <th scope="col">N° de pedido</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Monto total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr class="text-center">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary "><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td>
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fas fa-share-square"></i></button>

                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

</body>
