.styles li a{
    color: black;
}

.styles li a:hover{
    text-decoration-line: underline;
    text-decoration-color: black;
    
}

.color{
    background:  rgba(253, 205, 45, 1);
}

#hand:hover{
    cursor: pointer;
    color: rgb(42, 143, 201);
}


