<br><br><br>


<div class="container">


    <div class="row text-left mt-5">
        <div class="col-5">
            <div class="row">
                <h2 id="Encabezado">Cervezas</h2>
                <a id="hand" class="btn" (click)="updateDatable()"><i class="fas fa-sync-alt"></i></a>
            </div>

            <a href="#" class="btn btn-primary ml-2" data-toggle="modal" data-target="#beerModal">Agregar <i
                    class="fas fa-plus-circle"></i></a>


        </div>
        <div class="col-7 ">
            <div class="float-right ">
                <ul class="nav justify-content-center styles">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/dashboard/j-customers']">Clientes Juridicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/dashboard/n-customers']">Clientes naturales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/dashboard/suppliers']">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/dashboard/beers']">Cervezas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/dashboard/employees']">Empleados</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr id="HR">

    <!-- Bookmark form -->
    <div class="modal fade" id="beerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header color">
                    <h4 class="modal-title" id="myModalLabel">Nueva Cerveza</h4>
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">

                    <!--REVISAR AQUI LOS NG MODEL-->
                    <form id="CreateBeerForm" #Form="ngForm" (ngSubmit)="onSubmit(Form)" method="POST">
                        <p>Por favor, ingresa los datos solicitados.</p>
                        <div class="form-group">
                            <label for="name">Nombre cerveza</label>
                            <div class="input-group">
                                <input id="nombre" class="form-control" type="text"
                                    placeholder="Ingrese el nombre de la cerveza">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type">Tipo de cerveza</label>
                            <select id="select1" class="ml-2" #selectList3
                                (change)="optionSelected3(selectList3.value)">
                                <option value="null">Seleccionar..</option>
                                <option *ngFor="let type of typeBeerOptions" value="{{ type | json }}">{{type.nombre}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="price">Precio</label>
                            <div class="input-group">
                                <input id="precio" class="form-control" type="text" placeholder="Ingrese precio">
                            </div>
                        </div>

                        <hr>
                        <button class="btn btn-warning btn-block text-uppercase" type="submit">
                            Registrar
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>

        

    <div class="container" style="margin-bottom: 30px;">


        <table id="dataTable" #dataTable class="table table-bordered table-hover" style="background-color: #FDF4E3;">
            <thead class="thead" style="background-color: rgb(42, 41, 40); color: #FFFF;">
                <tr class="text-center">
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de cerveza</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let beer of beers">
                    <th class="text-center" scope="row">{{beer.id}}</th>
                    <td class="text-center">{{beer.nombre}}</td>
                    <td class="text-center">{{beer.tipoc}}</td>
                    <td class="text-center">{{beer.precio_unitario}}</td>
                    <td>
                        <div class="row">
                            <div align="center" class="col-sm-4">
                                <form action="#" method="POST">
                                    <a class="btn btn-primary text-white" (click)="openModal(beer)"
                                        style="cursor: pointer;"><i class="fas fa-pencil-alt"></i></a>
                                </form>

                            </div>

                            <div align="center" class="col-sm-4">
                                <form action="#" method="POST">
                                    <button type="submit" class="btn btn-danger" (click)="openModalDelete(beer.id)"><i
                                            class="fas fa-trash"></i></button>

                                </form>
                            </div>

                        </div>
                    </td>

                    <div class="modal fade" id="editModal{{beer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#269ECE;">
                                    <h4 class="modal-title" id="myModalLabel">Editar Cerveza</h4>
                                    <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                </div>
                                <div class="modal-body">

                                    <!--REVISAR AQUI LOS NG MODEL-->
                                    <form id="UpdateBeerForm{{beer.id}}" #Form="ngForm" (ngSubmit)="update(Form,beer)" method="PUT">
                                        <p>Por favor, ingresa los datos solicitados.</p>
                                        <div class="form-group">
                                            <label for="name">Nombre cerveza</label>
                                            <div class="input-group">
                                                <input id="nameu{{beer.id}}" class="form-control" type="text"
                                                    placeholder="Ingrese el nombre de la cerveza">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="type">Tipo de cerveza</label>
                                            <select id="select2{{beer.id}}" class="ml-2" #selectList4
                                                (change)="optionSelected4(selectList4.value)">
                                                <option value="{{ typeSelected | json }}">{{typeSelected[0].nombre}}</option>
                                                <option *ngFor="let type of typeBeerOptions2" value="{{ type | json }}">{{type.nombre}}
                                                </option>
                                            </select>
                                        </div>


                                        <div class="form-group">
                                            <label for="price">Precio</label>
                                            <div class="input-group">
                                                <input id="priceu{{beer.id}}" class="form-control" type="text" placeholder="Ingrese precio">
                                            </div>
                                        </div>


                                        <button class="btn btn-primary btn-block text-uppercase" type="submit">
                                            Actualizar
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="confirmation{{beer.id}}" class="modal text-center" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="">
                                    <h5 class="modal-title text-center py-3">Borrar cerveza</h5> <hr>
                                    <img src="../../../assets/img/rusure.png" alt="" style="width: 50px;">
                                </div>
                                <div class="modal-body">
                                    <p>¿Estas realmente seguro de borrar esta cerveza?</p>
                                    <p>ALERTA: perdera cualquier información relacionada con esta cerveza</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger" (click)="delete(beer.id)">Borrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<simple-notifications></simple-notifications>