<br><br><br>

<div class="container ml-5">
    <h5>Datos <button><i class="fas fa-pencil-alt"></i></button></h5>
    <hr>
    <div class="row mb-2">

        <div class="col-md-8 mt-3">
            <div class="row">
                <div class="col-md-3 ">
                    <p>Nombre:</p>
                    <p>Apellido:</p>
                    <p>cedula:</p>
                </div>
                <div class="col-md-5 py-3" style="margin-left: 20%;">
                    <p>Direccion:</p>
                    <p>Telefono:</p>
                </div>
            </div>
        </div>


    </div>

    <h5 class=" mb-3 mt-5">Carnet de afiliacion: <button><i class="far fa-address-card"></i></button></h5>
    <hr>
    <h5 class="mb-3 mt-5">Puntos actuales: 1000</h5>
    <hr>

    <h5 class="mb-3 mt-5">Mis tarjetas <button><i class="fas fa-pencil-alt"></i></button></h5>
    <hr>
    <div class="row">
        <div class="col-md-2">
            LOGO
        </div>
        <div class="col-md-3">
            11111111111111111111
        </div>
        <div class="col-md-3">
            24/05/99
        </div>
    </div>
</div>