<br><br><br>


<div class="container">

    <div>
        <div class="row text-left mt-5">
            <div class="col-5">
                <h2 id="Encabezado">Usuarios</h2>
                <a href="#" class="btn btn-primary ml-2" data-toggle="modal" data-target="#userModal">Agregar <i
                        class="fas fa-plus-circle"></i></a>
            </div>
            <div class="col-7 ">
                <div class="float-right ">
                    <ul class="nav justify-content-center styles">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/dashboard/j-customers']">Clientes Juridicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/dashboard/n-customers']">Clientes naturales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" [routerLink]="['/dashboard/suppliers']">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/dashboard/beers']">Cervezas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/dashboard/employees']">Empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/dashboard/user']">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr id="HR">

        <!-- Bookmark form -->
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                    </div>
                    <div class="modal-body">

                        <!--REVISAR AQUI LOS NG MODEL-->
                        <form id="Usermodal" #Form="ngForm" (ngSubmit)="onSubmit(Form)" method="POST">
                            <p>Por favor, ingresa los datos solicitados.</p>
                            <div class="form-group">
                                <label for="correo">Correo electronico</label>
                                <div class="input-group">
                                    <input id="correo" name= "email" class="form-control" type="email" placeholder="Ingrese el Correo electronico"
                                    required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="contraseña">Contraseña</label>
                                <div class="input-group">
                                    <input id="contraseña" type="password" class="form-control" type="text"
                                        placeholder="Ingrese la contraseña">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="rol">Rol: </label><br>
                                <select id = "rol">
                                    <option value="null">Rol</option>
                                    <option *ngFor="let rol of roles" value="{{ rol.id | json }}">{{rol.nombre}}
                                    </option>
                                </select>
                            </div>


                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                                Registrar
                            </button>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                         </div> </div> </div> </div> <table id="dataTable" #dataTable
                            class="table table-bordered table-hover"
                            style="margin-bottom: 30px;background-color: #FDF4E3;">
                            <thead class="thead" style="background-color: rgb(42, 41, 40); color: #FFFF;">
                                <tr class="text-center">
                                    <th scope="col">id</th>
                                    <th scope="col">Correo electronico</th>
                                    <th scope="col">Rol</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody class="tbody" *ngIf="users">
                                <tr class="text-center" *ngFor="let user of users">
                                    <th scope="row">{{user.id}}</th>
                                    <td>{{user.correo}}</td>
                                    <td>{{user.rol}}</td>
                                    <td>
                                        <div class="row">
                                            <div align="center" class="col-sm-4">
                                                <form action="#" method="POST">
                                                    <button type="submit" class="btn btn-primary"><i
                                                            class="fas fa-pencil-alt" (click)="openModal(user)"></i></button>

                                                </form>

                                            </div>

                                            <div align="center" class="col-sm-4 ml-2">
                                                <form action="#" method="POST">
                                                    <button type="submit" class="btn btn-danger"><i
                                                            class="fas fa-trash" (click)="openModalDelete(user.id)"></i></button>

                                                </form>
                                            </div>

                                        </div>
                                    </td>

                                    <div class="modal fade" id="editModal{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#269ECE;">
                                        <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    </div>
                                    <div class="modal-body">

                                        <!--REVISAR AQUI LOS NG MODEL-->
                                        <form id="UpdateEventForm{{user.id}}" #Form="ngForm" (ngSubmit)="update(Form,user)" method="PUT">
                                            <p>Por favor, ingresa los datos solicitados.</p>
                                            <div class="form-group">
                                                <label for="correo">Correo electronico:</label>
                                                <div class="input-group">
                                                    <input id="correo{{user.id}}" class="form-control" type="text"
                                                        placeholder="Ingrese el correo" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="rol">Rol: </label><br>
                                                <select id = "rol"> 
                                                    <option value="null">{{user.rol}}</option>
                                                    <option *ngFor="let rol of roles" value="{{ rol.id | json }}">{{rol.nombre}}
                                                    </option>
                                                </select>
                                            </div>

                                            <hr>
                                            <button class="btn btn-primary btn-block text-uppercase" type="submit">
                                                Actualizar
                                            </button>
                    
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>

                                    <div id="confirmation{{user.id}}" class="modal text-center" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="">
                                                    <h5 class="modal-title text-center py-3">Borrar evento</h5>
                                                    <hr>
                                                    <img src="../../../assets/img/rusure.png" alt="" style="width: 50px;">
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Estas realmente seguro de borrar este usuario?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="delete(user.id)">Borrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>

                            </tbody>
                            </table>

                    </div>
                    <simple-notifications></simple-notifications>