@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: rgb(237, 234, 230);
    background: linear-gradient(0deg, rgba(237, 234, 230, 1) 14%, rgba(253, 205, 45, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    background-color: rgb(42,41,40);
    height: 60px;
  }

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: orange;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: orange;
    background-color: rgba(71, 71, 71, 0.829) ;
    border-radius: 10px;
}

.table .tbody th,
.table .tbody td
 {
    border: 1px solid #000000;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
